<div class="col-md-12">
<div class="text-center col-md-12 page-header"></br>
  <div class="col-md-2">
    <%= image_tag "heart.png",width: "50%"%>
  </div>
  <h2 class="text-center col-md-8">Registro de visitas atención al ciudadano</br> <small>Fundación Social Nueva Esparta</small></h2>
</div>



<div class="col-md-12" id="visitas">
  <%=render "visitas"%>
</div>
<div class="col-md-12" id="oficios">
  <%=render "oficios"%>
</div>

<div class="col-md-12" id="solicitud">
  <%=render "solicitudes"%>
</div>


</div>

<script>
             var classes = ".persona";
             var delay = (function () {
               var timer = 0;
               return function (callback, ms) {
                 clearTimeout(timer);
                 timer = setTimeout(callback, ms);
               };
             })();
             function loading() {
               $("#search_icon").attr("class", "fa fa-refresh fa-spin fa-fw")
             }
             function query() {
               loading();
               return "/home/index?search=" + $("#search").val();
             }
             $(function () {

               $("#search").keyup(function () {
                 delay(function () {
                   $.getScript(query());
                   return false;
                 }, 500);
               });

             });
           </script>
