

<p>
  <strong>Nombre:</strong>
  <%= @ayuda.nombre %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @ayuda.departamento %>
</p>

<%= link_to 'Edit', edit_ayuda_path(@ayuda),class:"btn btn-default"  %> |
<%= link_to raw('<i class="fa fa-arrow-left"></i> Regresar'), ayudas_path,class:"btn btn-default"  %>
